  <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/" routerLinkActive="active">Trang Chủ</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="search-bar input-group">
                    <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i
                            class="tim-icons icon-zoom-split"></i>
                        <span class="d-lg-none d-md-block">Search</span>
                    </button>
                </li>
                <li class="dropdown nav-item">
                    <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="notification d-none d-lg-block d-xl-block"></div>
                        <i class="tim-icons icon-sound-wave"></i>
                        <p class="d-lg-none">
                            Notifications
                        </p>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                        <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your
                                email</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more
                                tasks</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend
                                Michael is in town</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another
                                notification</a></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="photo">
                            <img src="/img/anime3.png" alt="Profile Photo">
                        </div>
                        <b class="caret d-none d-lg-block d-xl-block"></b>
                        <p class="d-lg-none">
                            Log out
                        </p>
                    </a>
                    <ul class="dropdown-menu dropdown-navbar">
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
                        </li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a>
                        </li>
                    </ul>
                </li>
                <li class="separator d-lg-none"></li>
            </ul>
        </div>
    </div>
</nav>
<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active" routerLinkActive="active">
                <a class="nav-link" aria-current="page" href="/traditional">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Truyền Thống</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="/longform">
                    <i class="tim-icons icon-atom"></i>
                    <p>LongForm</p>
                </a>
            </li>
            <li routerLinkActive="active">
              <a href="/story">
                  <i class="tim-icons icon-pin"></i>
                  <p>Story</p>
              </a>
            </li>
                  <li routerLinkActive="active">
              <a href="/admin">
                  <i class="tim-icons icon-pin"></i>
                  <p>Admin</p>
              </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-panel">
<div class="content">
        <div class="row">
            <div class="col-12"> 
<div class="form">
<div class="container">
    <h2>Thêm Bài Mới</h2>
    <form method="POST" action="/admin/add" enctype="multipart/form-data">
        <div class="wrapperform">
            <div class="box">
                <input type="text" name="username" required id="title">
                <label for="title">Tài Khoản</label>
            </div>
               <div class="box">
                <input type="password" name="password" required id="author">
                <label for="author">Mật Khẩu</label>
             </div>
        </div>
        <div class="wrapperform">
         <div class="box">
              <select class="select" name="category" required> 
                  <option selected class="selected" value="1">Chọn cấp bậc</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
              </select>
            </div>
        </div>
        <input type="submit" name="" value="Thêm Mới" class="dislodged-border">
    </form>
</div>
</div>
 </div>
    </div>
</div>
</div>