<form method="POST" action="/courses/store">
<textarea name="editor1" id="editor1" rows="10" cols="80">
 this is text area content
</textarea>
<label>Tên</label>
<input type="text" id="name" name="name">
<label>Mô Tả</label>
<input type="text" id="description" name="description">
<button type="submit">Thêm Khóa Học</button>
</form>